ul#cssmenu {
	position:relative;
	margin: 0px auto;
	padding:0px;
        width:800px; 
	border: 0px solid #ffeeff; 
	list-style: none;
	z-index:50;
	/*box-shadow:1px 1px 1px #fff,2px 2px 5px #f3ae49;*/
}

ul#cssmenu li {
    margin: 0px auto;    
    padding:5px;
    border: 0px solid #000000;
    float: left;
    display: inline;  
    list-style: none;
    position: relative; 
}

ul#cssmenu ul {
        padding: 0px;
        list-style: none;
        display: none;
        top: 20px;
        left: 0;
        position: absolute;
        z-index:100;
}

ul#cssmenu ul ul{
        margin: 5px;
        padding: 5px;
        border: 0px solid #555555;
        list-style: none;
        display: none;
        position: absolute;
        z-index:200;
}

ul#cssmenu ul:after {
        clear: both;
        display: block;
        font: 1px/0px serif;
        content: ".";
        height: 0px;
        visibility: hidden;
}

ul#cssmenu ul li {
	padding: 2px;
	margin:2px;
        width:250px;
        float: left;
        display: block !important;
        display: inline;
        text-align:left;
        height:17px;
}

ul#cssmenu ul li ul li{
        width: 250px;
        padding:2px;
        float: left;
        display: block !important;
        display: inline;
}

/* Main Menu */
ul#cssmenu a{
	padding:10px;
        float: none !important;
        float: left;
        display: block;	
        color:#fff;
        text-decoration: none;
        height: auto !important;
        height: 1%;
}

ul#cssmenu a.link{color:#fff;}

/* Main Menu Hover */
ul#cssmenu a:hover,ul#cssmenu li:hover a,ul#cssmenu li.iehover a {
        color:#ffffff;
        border:0px solid;
}

/* Second Menu */
ul#cssmenu li:hover li a,
ul#cssmenu li.iehover li a{
        box-shadow:0px;
        padding:5px;
        margin:0;
        float: none;
        border: 0px;
        color: #fff;
        background:#;
}

/* Second Menu Hover */
ul#cssmenu li:hover li a:hover,
ul#cssmenu li:hover li:hover a,
ul#cssmenu li.iehover li a:hover,
ul#cssmenu li.iehover li.iehover a {
	color:#841e3e;
        border:0px solid;
}

/* Third Menu */
ul#cssmenu li:hover li:hover li a,
ul#cssmenu li.iehover li.iehover  li a {
        float: none;
        border: 0px;
        color:#fff;
}

/* Third Menu Hover */
ul#cssmenu li:hover li:hover li a:hover,
ul#cssmenu li:hover li:hover li:hover a,
ul#cssmenu li.iehover li.iehover li a:hover,
ul#cssmenu li.iehover li.iehover li.iehover a {
        border:0px solid;
}

ul#cssmenu ul ul{   display: none;     position: absolute;     top: 0px;        left: 250px;}

ul#cssmenu li:hover ul ul,
ul#cssmenu li.iehover ul ul {	display: none;	}

ul#cssmenu li:hover ul,
ul#cssmenu ul li:hover ul,
ul#cssmenu li.iehover ul,
ul#cssmenu ul li.iehover ul {	display: block;		background:#;} 
